.title-image{
    height: 500px;
    width: 600px;
    border-radius: 5%;
}
.profile-image{
    height: 150px;
    border-radius: 50%;
}
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }
  #title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
  }
  
  .background {
    background-image: url(../images/background.jpg);
    background-size: contain;
    background-position: center;
    width: 100%;
  }
  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1{
    font-size: 4rem;
  }
  #skills p {
     font-size: 1rem;
     
  }
  .custom-img {
    height: 500px;
    object-fit: cover;
    border-radius: 10%;
  }
 